<div class="page">
    <h1>
        COSINE EIC Networking Bingo
    </h1>
    <p>
        Fill as many squares as possible with unique names/answers. 
        <br />
        For every BINGO line (diagonal, horizontal, or vertical) you will get 1 ticket! Complete the full grid for an extra 5 tickets! That’s a total of 17 possible tickets for the completion of each grid.
    </p>
    <table>
        {% for row in grid %}
        <tr>
        {% for cell in row %}
        <td class="cell  {% if cell == "BINGO" %} bingo {% endif %}">
            {{ cell }}
            <div class="answer">
                Name: _____________
                Answer: ____________
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>