<div class="page">
    <h1>
        COSINE EIC Networking Bingo
    </h1>
    <p>
        Fill as many squares as possible with unique names/answers. 
        <br />
        For the first 3 BINGO line (diagonal, horizontal, or vertical) you will get 1 raffle ticket! Complete the full grid for an extra 1 tickets!
    </p>
    <table>
        {% for row in grid %}
        <tr>
        {% for cell in row %}
        <td class="cell  {% if cell == "BINGO" %} bingo {% endif %}">
            {{ cell }}
            <div class="answer">
                {% if cell is type_ask %}
                Name: _____________
                Answer: ____________
                {% else %}
                    {% if cell is type_find%}
                    Name: _____________
                    {% else %}
                    Done: _____________
                    {% endif %}
                {% endif %}
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>